.sidebar-discover {
  padding-top: 15px; }

.sidebar-my-work {
  padding-top: 15px; }

.sidebar-spaces {
  padding-top: 15px; }

.aui-page-panel .aui-page-panel {
  border-bottom: 0; }

#web-panels {
  list-style: none;
  padding: 0; }

#web-panels .web-panel {
  margin-top: 20px; }

.welcome-message-edit.aui-help {
  width: auto; }

.aui-sidebar-group.spa .aui-nav-selected .aui-nav-item {
  cursor: pointer; }

.dashboard-buttons {
  margin-bottom: 20px;
  height: 35px;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc; }

.dashboard-items {
  margin-top: 20px;
  height: 35px;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  padding-top: 20px; }

.theme-documentation.aui-page-sidebar #main {
  padding: 0; }

.theme-documentation.aui-page-sidebar #main-header {
  display: none; }

.theme-documentation.aui-page-sidebar .item-clickable p {
  color: inherit; }
