.acs-side-bar-space-info .avatar-img-wrapper {
    display: block;
}

/* The following styles are necessary to work around IE8 issues dealing with opacity and semi-transparent pixels.
   If we don't specify an opaque background colour, semi-transparent pixels just appear black in IE8. */
.acs-side-bar .icon,
.collapsed .quick-links-section,
.acs-side-bar-flyout .icon,
#space-tools-menu-trigger .icon-space-tools,
.collapsed #space-tools-menu-trigger {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}
.acs-side-bar .current-item .icon,
#space-tools-menu-trigger.current-item .icon-space-tools,
.collapsed #space-tools-menu-trigger.current-item {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.acs-side-bar .icon,
.collapsed .quick-links-section,
#space-tools-menu-trigger .icon-space-tools,
.collapsed #space-tools-menu-trigger {
    background-color: #F5F5F5;
}
.acs-side-bar-flyout .icon {
    background-color: #FFF;
}
li.acs-nav-item .acs-nav-item-link:hover .icon,
li.acs-nav-item .acs-nav-item-link:focus .icon {
    background-color: #e9e9e9;
}
.collapsed li.acs-nav-item .acs-nav-item-link:hover .icon,
.collapsed li.acs-nav-item .acs-nav-item-link:focus .icon {
    background-color: #F5F5F5;
}

/*
    See code comment in sidebar-space-tools.js (above the function declaration for
    'forceSpaceToolsTriggerPseudoElementRedraw') for an explanation of why this is needed.

    The extra spaces in the properties defined below trigger the required redraw in IE8.

    If that JavaScript function is removed, this can probably be deleted too.
 */
#space-tools-menu-trigger.force-redraw:after {
    content: "     ";
}
#space-tools-menu-trigger.force-redraw .aui-iconfont-configure:before {
    content: "\e001 ";
}
/*
 * The following styles are necessary for space shortcuts to be 'grayed out' correctly in IE8. IE8 does not support
 * opacity so the temporary solution is to apply a lighter shade of colours to the text elements
 */
.acs-nav-sections .hidden-section .quick-links-header h5,
.acs-nav-sections .hidden-section #acs-nav-list-quick .acs-nav-item-label,
.acs-nav-sections .hidden-section .tip {
    color: #CCC;
}
.acs-nav-sections .hidden-section .acs-add-link .label {
    color: #8CA9CA;
}
#acs-nav-list-main .acs-nav-item.hidden-link .acs-nav-item-link .acs-nav-item-label {
    color: #CCC;
}