{namespace AJS.Rte.Placeholder.Templates}

/**
 * Instructional text.
 *
 * @param content
 */
{template .textPlaceholder autoescape="false"}
<span class="text-placeholder">{$content}</span>
{/template}
