/* GENERAL PAGE BANNER STYLES */
#page-metadata-banner {
    padding: 0;
    visibility: hidden;
    margin: 0;
}

#page-metadata-banner ul.banner {
    padding: 0;
    list-style-type: none;
}

#page-metadata-banner ul.banner > li {
    list-style: none;
    float: left;
    padding: 5px 10px 5px 0;
}

#page-metadata-banner ul.banner > li.has-button {
    padding: 0 10px 0 0;
}

.page-metadata-item a span {
    color: #707070;
}

#page-metadata-banner ul.banner #system-content-items {
    padding: 5px 5px 5px 10px;
}

#page-metadata-banner .page-metadata-item > a {
    height: 30px;
    padding-right: 10px;
}

#page-metadata-banner .page-metadata-item .page-banner-item-icon {
    margin: 2px 5px 0 0;
}

#page-metadata-banner #system-content-items > a:last-child {
    padding-right: 0;
}

#page-metadata-banner .page-metadata-item > a > span {
    font-size: 14px;
}

/* STYLES FOR SYSTEM-CONTENT-ITEMS */
#system-content-items {
    font-size: 0;
}

#system-content-items > a {
    display: inline-block;
    margin: 2px 5px 2px 0;
}

#page-metadata-banner #system-content-items a .page-banner-item-icon {
    margin-right: 0;
}

/* CORE OVERRIDES */
#main-header:not(.doctheme-no-override) #title-text {
    clear: left; /* push this below the floated page metadata banner */
    padding-top: 5px;
}

#main-header:not(.doctheme-no-override) {
    margin-top: -6px;
}

#main-header:not(.doctheme-no-override) .content-navigation {
    margin-top: 0; /* so the menu buttons align with the page banner */
}

#main-header:not(.doctheme-no-override) #breadcrumb-section #breadcrumbs {
    overflow: visible;
}

#main-header:not(.doctheme-no-override) #breadcrumb-section #breadcrumbs li {
    display: inline;
    white-space: normal;
    float: left; /* Place breadcrumbs inline with the metadata */
    padding: 5px 5px 5px 0;
}

#main-header:not(.doctheme-no-override) #breadcrumb-section #breadcrumbs li span a {
    line-height: 18px; /* CONFDEV-19540: Certain special characters rendered by IE8 result in a large line-height, hence breaking the wrapping. Fixed by limiting the line-height */
}

#main-header:not(.doctheme-no-override) #breadcrumb-section #breadcrumbs li.hidden-crumb {
    display: none;
}

#main-header:not(.doctheme-no-override) #breadcrumb-section #breadcrumbs li:before {
    padding: 0 2px 0 2px;
}

/* Draft status lozenge styles */
#draft-status-lozenge {
    text-decoration: none;
    cursor: text;
}

#dope-draft-discovery {
    width: 300px;
}