.cql-filter .aui-iconfont-remove,
.cql-type-date .aui-nav a {
    cursor: pointer;
}

/*
    TODO CRA-663 - remove this once master is bumped to a version with the same rule in aui-overrides.css.
   HACK - because I literally just can't, unless I update the datepicker and macro browser to
   use the AJS LayerManager. This is, funnily enough, probably a safe rule to set, given that
   the datepicker dialog spawns no further elements with higher z-indexes and the MB is known
   to peak at around 3004.
 */
.aui-datepicker-dialog {
    z-index: 4000;
}

.cql-filter .absolute-date-pickers {
    /* To match aui-nav indent. */
    padding: 7px 0 7px 10px;
    display: inline-block;
}

.cql-filter .from-date-picker.text {
    margin-right: 7px;
}

.cql-filter .to-date-picker.text {
    margin-left: 7px;
}

/*
   Fighting macro-browser specificity. Technically this could go in macro-browser css in core,
   but until we get a final design we might as well apply CSS hacks close to the markup.
 */
#macro-browser-dialog .macro-input-fields .absolute-date-pickers input {
    max-width: 96px;
}