#requireResource("confluence.web.resources:ajs")
#requireResource("confluence.macros.profile:network-resources")

<div class="network-macro follow-$mode follow-$theme">

    #if($theme != "tiny")
        <h2>$action.getText("community.macro.follow.$mode")</h2>
    #end

    #if ($theme != "dashboard" || $people.size() == 0)
    <div class="description">
        #if($viewingMyProfile)
            #if ($people.size() == 0)
                $action.getText("community.macro.${mode}.my.none")
            #else
                $action.getText("community.macro.${mode}.my")
            #end
        #else
            #if ($people.size() == 0)
                $action.getText("community.macro.${mode}.none", ["$user.fullName"])
            #else
                $action.getText("community.macro.${mode}", ["$user.fullName"])
            #end
        #end
    </div>
    #end

    <ul class="avatars">
    #foreach($personHtml in $people)
        <li>#logoBlock("~$personHtml")</li>
    #end
    </ul>
    #if ($morePeople)
    <span class="description">
    (<a href="$req.contextPath/users/view${mode}.action?username=$htmlUtil.urlEncode($username)" class="show-all">$action.getText("community.macro.follow.show.all")</a>)
    </span>
    #end

    #if ($showAddUser)
            <form class="follow-user noprint aui" name="follow-user" action="$req.contextPath/followuser.action" method="post">
                #form_xsrfToken()
                <span class="container">
                    ## Can't use #tag or #bodytag within wikicontent since there is no PageContext CONF-14926
                    <label for="follow-user-autocomplete" class="assistive">Follow User Autocomplete</label>
                    <input id="follow-user-autocomplete" type="text" name="follow-autocomplete" class="follow-user-box text" tabindex="0" autocomplete="off"/>
                    <label for="follow-user-input" class="assistive">Follow User</label>
                    <input id="follow-user-input" type="hidden" value="" name="username"/>
                </span>
                <label for="follow-submit" class="assistive">Follow $action.getText("person.follow")</label>
                <input id="follow-submit" type="submit" class="aui-button" name="follow" value="$action.getText("person.follow")"/>
                <div class="hidden parameters">
                    <label for="follow-hidden-input" class="assistive">Hidden Placeholder</label>
                    <input id="follow-hidden-input" type="hidden" class="followUserBoxPlaceholder" id="followUserBoxPlaceholder" value="$action.getText("follow.user.box.placeholder")" />
                </div>
                <div class="follow-user-result">&nbsp;</div>
            </form>
    #end
    
</div>
