.recently-viewed .blank-slate-text {
  max-width: 340px; }

.recently-viewed .blank-slate-image {
  width: 119px;
  height: 100px;
  background-image: url("assets/images/2.0/icon-recent-empty.svg");
  background-repeat: no-repeat;
  margin: auto; }
