.aui-nav-selected .aui-nav-item {
  cursor: default; }

.aui-sidebar .aui-navgroup-vertical {
  padding-right: 0px; }

.aui-sidebar-body .aui-icon:before {
  background-repeat: no-repeat;
  width: 20px;
  height: 20px; }

.aui-sidebar-group {
  position: relative; }

.aui-sidebar-body .all-spaces-link {
  float: right;
  text-transform: none;
  font-weight: normal;
  font-size: 14px; }

.aui-sidebar-body h6 {
  margin-top: 20px;
  padding-left: 10px; }

.aui-sidebar[aria-expanded="false"] .aui-sidebar-body {
  bottom: 40px; }

.nav-items {
  list-style-type: none; }
  .nav-items .item {
    border: none;
    padding-left: 15px;
    padding-right: 26px;
    line-height: 20px; }
  .nav-items .item.animated.show {
    padding: 0 15px;
    height: 35px; }

#sidebar-spaces .aui-avatar {
  margin: -1px 13px 0 -2px;
  float: left; }

#sidebar-spaces button.aui-icon {
  background-color: transparent; }

#sidebar-spaces li {
  position: relative; }

#sidebar-spaces .toggle-favourite {
  position: absolute;
  right: 10px;
  top: 8px;
  opacity: 0;
  min-width: 16px;
  min-height: 16px; }

#sidebar-spaces li {
  position: relative; }
  #sidebar-spaces li:hover .toggle-favourite {
    opacity: 1;
    cursor: pointer; }

#sidebar-spaces .aui-nav-heading {
  margin-right: 0px; }

#sidebar-spaces ul {
  padding-top: 4px; }

#sidebar-spaces .nav-space-blank {
  text-align: center; }
  #sidebar-spaces .nav-space-blank .aui-nav-item {
    display: none; }

.aui-sidebar[aria-expanded="false"] .aui-sidebar-group-tier-one .aui-nav .aui-nav-item-label {
  display: none; }

.aui-sidebar[aria-expanded="false"] .toggle-favourite {
  display: none; }

.aui-sidebar[aria-expanded="false"] #sidebar-spaces ul {
  padding-top: 0; }

.aui-sidebar[aria-expanded="false"] #sidebar-spaces .nav-space-blank .aui-nav-item {
  display: block; }

.aui-sidebar[aria-expanded="false"] #sidebar-spaces .nav-space-blank p {
  display: none; }
