#* @vtlvariable name="attachment" type="com.atlassian.confluence.pages.Attachment" *#
<img class="confluence-embedded-image" data-image-src="${req.contextPath}${attachment.downloadPathWithoutVersion}" src="${req.contextPath}${attachment.downloadPathWithoutVersion}"
     data-linked-resource-id="${attachment.id}" data-linked-resource-container-id="${attachment.content.getIdAsString()}" data-linked-resource-default-alias="${attachment.fileName}">