.recently-worked .blank-slate-text {
  max-width: 410px; }

.recently-worked .blank-slate-image {
  width: 120px;
  height: 150px;
  background-image: url("assets/images/3.0/icon-recent-empty.svg"); }
