#synchrony-share-container {
    float: right;
}
#synchrony-share {
    display: inline-block;
}
#synchrony-share .aui-icon {
    height: 28px;
    width: 28px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 5px;
    background-color: #f5f5f5;
}
#synchrony-share .aui-icon:before {
    margin-top: -10px;
    padding-left: 6px;
    color: #707070;
    font-size: 18px;
}
#synchrony-share .label {
    padding-right: 5px;
    color: #707070;
}
#synchrony-share:hover {
    text-decoration: none;
}
#synchrony-share .aui-button.aui-button-subtle .aui-icon {
    margin-right: 5px
}