/**
  Initial layout by hank
*/
.opt-out-flag {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  background: #fff; }
  .opt-out-flag .aui-help-contents {
    border-radius: 3px;
    overflow: hidden;
    border: 2px solid #f79232;
    width: 300px;
    padding: 20px; }
  .opt-out-flag .confirm-panel .tip-footer {
    margin-top: 20px; }
  .opt-out-flag .flag-panels {
    width: 700px;
    transform: translateX(0);
    transition: all .2s ease-out; }
  .opt-out-flag .flag-panel {
    width: 300px;
    margin: 0 40px 0 0;
    float: left;
    vertical-align: top; }
    .opt-out-flag .flag-panel .field-group {
      padding: 4px 0; }
    .opt-out-flag .flag-panel textarea {
      max-width: inherit;
      height: 55px; }

.confluence-dashboard .opt-out-tooltip-wrapper {
  position: fixed;
  bottom: 40px;
  right: 20px;
  opacity: 0;
  transition: all .5s ease-out;
  z-index: 2; }
  .confluence-dashboard .opt-out-tooltip-wrapper.show {
    bottom: 20px;
    opacity: 1; }
  .confluence-dashboard .opt-out-tooltip-wrapper.hide {
    bottom: 0;
    opacity: 0; }
  .confluence-dashboard .opt-out-tooltip-wrapper.show-feedback .flag-panels {
    transform: translateX(-340px); }

/**
  New layout by zaki
*/
.opt-out-dialog {
  width: 260px; }
  .opt-out-dialog.onboarding-inline-dialog.aui-alignment-snap-left:before, .opt-out-dialog.onboarding-inline-dialog.aui-alignment-snap-left:after {
    left: 20px; }
  .opt-out-dialog form.aui .field-group {
    padding: 10px 0; }
  .opt-out-dialog form.aui textarea {
    max-width: 100%;
    height: 75px;
    resize: none; }

[aria-expanded=false] .sidebar-opt-out {
  display: none; }

.sidebar-opt-out .opt-out-dialog {
  display: none !important; }
