{namespace Confluence.Templates.File}

/**
* The help link for the insert image dialog
*/
{template .helpLink}
    <div class="dialog-help-link">
        <a href="{docLink('help.rich.text.editor.inserting.files_images')}" target="_blank">{getText('help.name')}</a>
    </div>
{/template}
