	
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" id="Slides" width="$width" height="$height">
            <param name="movie" value="$resourcePath/Slides.swf" />
            <param name="quality" value="high" />
            <param name="bgcolor" value="#ffffff" />
            <param name="allowScriptAccess" value="sameDomain" />
            <param name="allowFullScreen" value="true" />
            <param name="flashVars" value="usePathAuth=$usePathAuth&downloadPath=$downloadPath&allowEdit=$allowEdit&pageId=$pageId&attachment=$attachment&attachmentId=$attachmentId&editUrl=$editUrl&baseUrl=$baseUrl&contextPath=$contextPath"/>
            
     		<!--[if !IE]>-->
	<object type="application/x-shockwave-flash" data="$resourcePath/Slides.swf" width="$width" height="$height">	
            <param name="quality" value="high" />
            <param name="bgcolor" value="#ffffff" />
            <param name="allowScriptAccess" value="sameDomain" />
            <param name="allowFullScreen" value="true" />
            <param name="flashVars" value="usePathAuth=$usePathAuth&downloadPath=$downloadPath&allowEdit=$allowEdit&pageId=$pageId&attachment=$attachment&attachmentId=$attachmentId&editUrl=$editUrl&baseUrl=$baseUrl&contextPath=$contextPath"/>
            
	<!--<![endif]-->
	<div>You need flash player installed to preview ppt and pdf files</div>
	<div>		
		<p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" /></a></p>
	</div>
	<!--[if !IE]>-->
	</object>
	<!--<![endif]-->
</object>

