{namespace Confluence.UI.Components.templates}


/**
 * Build hidden fields
 *
 * @param id
 * @param name
 */
{template .hiddenField}
   <label for="{$id}" class="assistive">{$name}</label>
   <input type="hidden" id="{$id}" name="{$name}" />
{/template}