#search-ui {
    position: relative;
}

#quick-search-query {
    width: 220px;
}

#search-ui aui-spinner {
    position: absolute;
    right: 15px;
    top: 10px;
    color: white;
    display: none;
}

#search-ui #quick-search-alert {
    position: absolute;
    display: none;
    width: 200px;
    top: 35px;
    left: 10px;
    padding: 5px 10px;
    border-radius: 3px;
    background: white;
    color: #344563;
    box-shadow: 0 4px 8px -2px rgba(9,30,66,.25), 0 0 1px rgba(9,30,66,.31);
    z-index: 3000;
}

#search-ui.hide-icon::after {
    display: none;
}

.SU_CUSTOM_CLOSE_DIALOGUE_CONTAINER {
    margin-top: 15px;
}

SU_CUSTOM_CLOSE_DIALOGUE_INNER {
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px;
}
