#* @vtlvariable name="action" type="com.atlassian.confluence.plugins.search.actions.ExplainAction" *#
<strong>query:</strong>
<pre style="width: 800px; margin-top: 0">
$action.searchResults.searchQuery
</pre>
<pre>
#foreach ($explanation in $action.explanationsForSpecifiedContentIds)<strong>(specified) $explanation.content.title</strong>:
$action.fixExplanation($explanation.toString())#end
</pre>
<pre>
#foreach ($searchResult in $action.searchResults.results)<strong>($velocityCount) $searchResult.title</strong>:
$action.fixExplanation($searchResult.explanation.toString())#end
</pre>
