.welcome-message {
  position: relative;
  margin: -10px;
  padding: 10px; }

.welcome-message-highlight {
  background: #f5f5f5; }

a.aui-button.welcome-message-edit-button {
  padding: 12px;
  color: #707070;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000; }

a.aui-button.welcome-message-edit-button::before {
  padding: 1px 3px; }

.welcome-message + .dashboard-calendar {
  margin-top: 40px; }

.welcome-message .aui-button.welcome-message-edit-button {
  display: none; }

.welcome-message:hover .aui-button.welcome-message-edit-button {
  display: block;
  top: 10px;
  right: 10px; }
