{namespace Confluence.Templates.Blueprints.Promoted}

/**
 * Shows all hidden web items on the create dialog
 */
{template .showMore}
    <li class="promoted-link-container">
        <div>
            <button id="promoted-link" class="aui-button aui-button-link">{getText('create.content.plugin.promoted.show.more')}</button>
        </div>
    </li>
{/template}