#requireResource("com.atlassian.confluence.extra.officeconnector:office-connector-css")
#requireResource("com.atlassian.confluence.plugins.confluence-previews:embedded-edit")
<div class="office-container">
    #if ($allowEdit)
        #if ($darkFeatures.isDarkFeatureEnabled('enable.legacy.edit.in.office'))
            <a href="$editHrefHtml" class="confluence-button office-editable" data-use-path-auth="$usePathAuth">Edit Document</a>
        #else
            <div class="container-menu-butttons">
                <div
                        class="companion-edit-button-placeholder"
                        data-template-name="companionEditButon"
                        data-linked-resource-id="$attachmentId"
                        data-linked-resource-container-id="$pageId"
                        data-source-location="office-doc-macro" >
                </div>
            </div>
        #end

    #end
    <div class="office-document">
    $contentHtml
    </div>
</div>
