/* Hide Forgot Password */
#forgot-password { display: none; }
#section-yoursettings li a[title^="Password"] {
    display: none !important;
}
/* Hide Space users button */
#browse-space-menu li a#rw_space_users_button { display: none; }
/* Fonts */
@font-face{
  font-family:"ShermanSerif";
  src: url('https://assets.syracuse.edu/fonts/shermanserif-book.eot');
  src: url('https://assets.syracuse.edu/fonts/shermanserif-book.eot?#iefix') format('embedded-opentype'),
       url('https://assets.syracuse.edu/fonts/shermanserif-book.woff2') format('woff2'),
       url('https://assets.syracuse.edu/fonts/shermanserif-book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  unicode-range: U+0020-00BF;
}
@font-face{
  font-family:"ShermanSerif";
  src: url('https://assets.syracuse.edu/fonts/shermanserif-book-intl.eot');
  src: url('https://assets.syracuse.edu/fonts/shermanserif-book-intl.eot?#iefix') format('embedded-opentype'),
       url('https://assets.syracuse.edu/fonts/shermanserif-book-intl.woff2') format('woff2'),
       url('https://assets.syracuse.edu/fonts/shermanserif-book-intl.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  unicode-range: U+00C0-024F;
}
@font-face{
  font-family:"ShermanSans";
  src: url('https://assets.syracuse.edu/fonts/shermansans-book.eot');
  src: url('https://assets.syracuse.edu/fonts/shermansans-book.eot?#iefix') format('embedded-opentype'),
       url('https://assets.syracuse.edu/fonts/shermansans-book.woff2') format('woff2'),
       url('https://assets.syracuse.edu/fonts/shermansans-book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  unicode-range: U+0020-00BF;
}
@font-face{
  font-family:"ShermanSans";
  src: url('https://assets.syracuse.edu/fonts/shermansans-book-intl.eot');
  src: url('https://assets.syracuse.edu/fonts/shermansans-book-intl.eot?#iefix') format('embedded-opentype'),
       url('https://assets.syracuse.edu/fonts/shermansans-book-intl.woff2') format('woff2'),
       url('https://assets.syracuse.edu/fonts/shermansans-book-intl.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  unicode-range: U+00C0-024F;
}
@font-face{
  font-family:"ShermanSans";
  src: url('https://assets.syracuse.edu/fonts/shermansans-bookitalic.eot');
  src: url('https://assets.syracuse.edu/fonts/shermansans-bookitalic.eot?#iefix') format('embedded-opentype'),
       url('https://assets.syracuse.edu/fonts/shermansans-bookitalic.woff2') format('woff2'),
       url('https://assets.syracuse.edu/fonts/shermansans-bookitalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  unicode-range: U+0020-00BF;
  }
@font-face{
  font-family:"ShermanSans";
  src: url('https://assets.syracuse.edu/fonts/shermansans-bookitalic-intl.eot');
  src: url('https://assets.syracuse.edu/fonts/shermansans-bookitalic-intl.eot?#iefix') format('embedded-opentype'),
       url('https://assets.syracuse.edu/fonts/shermansans-bookitalic-intl.woff2') format('woff2'),
       url('https://assets.syracuse.edu/fonts/shermansans-bookitalic-intl.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  unicode-range: U+00C0-024F;
}
@font-face{
  font-family:"ShermanSans";
  src: url('https://assets.syracuse.edu/fonts/shermansans-bold.eot');
  src: url('https://assets.syracuse.edu/fonts/shermansans-bold.eot?#iefix') format('embedded-opentype'),
       url('https://assets.syracuse.edu/fonts/shermansans-bold.woff2') format('woff2'),
       url('https://assets.syracuse.edu/fonts/shermansans-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  unicode-range: U+0020-00BF;
}
@font-face{
  font-family:"ShermanSans";
  src: url('https://assets.syracuse.edu/fonts/shermansans-bold-intl.eot');
  src: url('https://assets.syracuse.edu/fonts/shermansans-bold-intl.eot?#iefix') format('embedded-opentype'),
       url('https://assets.syracuse.edu/fonts/shermansans-bold-intl.woff2') format('woff2'),
       url('https://assets.syracuse.edu/fonts/shermansans-bold-intl.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  unicode-range: U+00C0-024F;
}
@font-face{
  font-family:"ShermanSans";
  src: url('https://assets.syracuse.edu/fonts/shermansans-bolditalic.eot');
  src: url('https://assets.syracuse.edu/fonts/shermansans-bolditalic.eot?#iefix') format('embedded-opentype'),
       url('https://assets.syracuse.edu/fonts/shermansans-bolditalic.woff2') format('woff2'),
       url('https://assets.syracuse.edu/fonts/shermansans-bolditalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  unicode-range: U+0020-00BF;
}
@font-face{
  font-family:"ShermanSans";
  src: url('https://assets.syracuse.edu/fonts/shermansans-bolditalic-intl.eot');
  src: url('https://assets.syracuse.edu/fonts/shermansans-bolditalic-intl.eot?#iefix') format('embedded-opentype'),
       url('https://assets.syracuse.edu/fonts/shermansans-bolditalic-intl.woff2') format('woff2'),
       url('https://assets.syracuse.edu/fonts/shermansans-bolditalic-intl.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  unicode-range: U+00C0-024F;
}
/* Font Sizes EM */
html { font-size: 100%; /*16px*/ }
body { font-size: 87.5%; /*14px*/ }
#content-title, h1 a, h1 { font-size: 1em; /*28px*/ }
#title-heading #breadcrumbs,#title-heading  #breadcrumbs li, .footer-body { font-size: 0.857em; /*12px*/ }
.aui-button, a.aui-button, .aui-button:visited { font-size: .875rem; /*14px*/ }
.wiki-content h1 { font-size: 1.714em; /*24px*/ }
.wiki-content h2 { font-size: 1.429em; /*20px*/ }
.wiki-content h3 { font-size: 1.143em; /*16px*/ }
.wiki-content h4 { font-size: 1em; /*14px*/ }
.wiki-content h5 { font-size: 1em; /*14px*/ }
.wiki-content h6 { font-size: 0.857em; /*12px*/ }
body {
    font-family: ShermanSans, "Trebuchet MS", Tahoma, sans-serif;
    font-weight: normal;
    font-style: normal;
}
#logo span.aui-header-logo-text {
    padding-right: 10px;
    font-family: ShermanSans, "Trebuchet MS", Tahoma, sans-serif;
}
h1, h2:not(.dialog-title), h3, h4, h5, h6, #content-title-div {
    padding: 0 !important;
    font-family: ShermanSerif, Georgia, serif !important;
    font-weight: normal !important;
    line-height: 1.3 !important;
    text-transform: none !important;
}
/* Fixes anchor links from jumping too far */
h1:not(#title-text):before, h2:before, h3:before, h4:before, h5:before, h6:before, span.confluence-anchor-macro:before {
    content:"";
    display:block;
    height:80px; /* fixed header height*/
     margin:-80px 0 0; /* negative fixed header height */
}
#title-text, h1.list-title {
    font-size: 2.6em; /* 49px */
}
h2 {
    font-size: 2.786em; /* 39px */
}
h2.primary {
    margin-top: -0.5em !important;
    font-size: 2.786em; /* 39px */
}
#comments-section-title {
    font-size: 1em; /* 14px*/
}
h3 {
    font-size: 2.214em; /* 31px */
}
h4 {
    font-size: 1.786em; /* 25px */
    font-weight: 600 !important;
}
h5 {
    font-size: 1.429em; /* 20px */
}
h6 {
    font-size: 1.143em; /* 16px */
}
.share-content-popup h3,
.aui-inline-dialog-contents h2 {
    font-size: 1.5em;
}
ol.dp-css span {
    line-height: 1.5em;
}
.icon, .aui-buttons, #rte-toolbar {
    font-size: unset !important;
}
/* Assistive Skip Links */
ul#assistive-skip-links {
    height: 200px;
    width: 220px;
    left: 50%;
    clip: unset;
}
#assistive-skip-links a {
    padding:10px;
    position: absolute;
    height: 22px;
    top:-45px;
    left:0px;
    color:black;
    border:1px solid black;
    background:transparent;
    -webkit-transition: top 1s ease-out, background 1s linear;
    transition: top 1s ease-out, background 1s linear;
    z-index: 100;
}
#assistive-skip-links a:focus {
    position:absolute !important;
    left:0px !important;
    top:0px !important;
    color: #d44500 !important;
    background:#FFFFFF !important;
    outline:0 !important; 
    -webkit-transition: top .1s ease-in, background .5s linear;
    transition: top .1s ease-in, background .5s linear !important;
}
/* Links */
a.download-all-link {
    display: none !important;
}
a#download-all-link {
    display: none !important;
}
#title-text a,
.pagetitle {
    font-size: 1.32em; /* 49px */
    text-decoration: none;
}
h1:not(#title-text) a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    color: #d44500 !important;
    text-decoration: none !important;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #444444 !important;
}
#title-text a:hover {
    color: #444444 !important;
    text-decoration: none !important;
    cursor: default;
}
a:not(h1 a):not(h2 a):not(h3 a):not(h4 a):not(h5 a):not(h6 a) {
    text-decoration: underline;
    -webkit-text-decoration-color: #6f777d;
    -moz-text-decoration-color: #6f777d;
    text-decoration-color: #6f777d;
    text-decoration-skip: auto;
    text-decoration-skip: ink;
    -webkit-text-decoration-skip: skip;
}
a:active,
a:hover {
    text-decoration: none !important;
}
#main-content a,
.aui-page-panel-inner span a,
.aui-page-panel-inner .content-by-label a,
li.aui-label a.aui-label-split-main,
a.configure-sidebar {
    text-decoration: underline;
    -webkit-text-decoration-color: #6f777d;
    -moz-text-decoration-color: #6f777d;
    text-decoration-color: #6f777d;
    text-decoration-skip: auto;
    text-decoration-skip: ink;
    -webkit-text-decoration-skip: skip;
}
.aui-header a {
    text-decoration: none;
}
a.aui-dropdown2-trigger.app-switcher-trigger {
    background-color: #ffffff;
    color: black !important;
    margin-left: -10px;
}
#footer .footer-body a, #page-footer a {
    color: #707070;
    text-decoration: underline;
    text-decoration-skip: auto;
    text-decoration-skip: ink;
    -webkit-text-decoration-skip: skip;
}
#main #main-header.overlay-header {
    border-bottom: unset;
    background-color: unset;
}
/* Edit Page Adjustments */
#editor-precursor #content-title {
    height: 100%;
}
.contenteditor #editor-precursor {
    width: 95% !important;
}
#tinymce.wiki-content p a, #tinymce.wiki-content p a:link {
    text-decoration: underline;
    -webkit-text-decoration-color: #6f777d;
    -moz-text-decoration-color: #6f777d;
    text-decoration-color: #6f777d;
    text-decoration-skip: auto;
    text-decoration-skip: ink;
    -webkit-text-decoration-skip: skip;
}
.wiki-content h1 span,
.wiki-content h2 span,
.wiki-content h3 span,
.wiki-content h4 span,
.wiki-content h5 span,
.wiki-content h6 span,
#tinymce.wiki-content h1 span,
#tinymce.wiki-content h2 span,
#tinymce.wiki-content h3 span,
#tinymce.wiki-content h4 span,
#tinymce.wiki-content h5 span,
#tinymce.wiki-content h6 span {
     color: #444444 !important;
}
#editor-precursor #breadcrumbs {
    font-size: 1em;
}
#tinymce.wiki-content pre {
    font-size: 1.235em;
}
#format-dropdown-display-menu .format-h1 a,
#format-dropdown-display-menu .format-h2 a,
#format-dropdown-display-menu .format-h3 a,
#format-dropdown-display-menu .format-h4 a,
#format-dropdown-display-menu .format-h5 a,
#format-dropdown-display-menu .format-h6 a,
#tinymce h1, #tinymce h2, #tinymce h3, #tinymce h4, #tinymce h5, #tinymce h6 {
    font-family: ShermanSerif, Georgia, serif !important;
}
/* Input Contrast */
input.text:not(#quick-search-query)::placeholder {
    color: #777777 !important;
}
form.aui input.text {
    border: 1px solid #777777;
}
.aui-dialog .dialog-button-panel a.button-panel-link {
    color: #444444;
}
/* Space Directory */
#space-list span.icon.icon-wait.hidden {
    font-size: 12px !important;
}
/* Dashboard */
.list-container-all-updates .update-item-icons {
    width: 16px;
}
/* Sidebar Headings */
.ia-secondary-header-title, .ia-quick-links-header-title {
    font-weight: unset;
    text-transform: unset;
    font-size: 14px !important;
    padding: 0px !important;
}
.collapsed .acs-nav .ia-quick-links-header-title {
    display: none;
}
/* Cobalt Adjustments */
.ia-fixed-sidebar a, .ia-fixed-sidebar a span, .acs-side-bar-flyout a, .confluence-information-macro a {
    color: #cc4700 !important;
    text-decoration: underline;
    -webkit-text-decoration-color: #6f777d;
    -moz-text-decoration-color: #6f777d;
    text-decoration-color: #6f777d;
    text-decoration-skip: auto;
    text-decoration-skip: ink;
    -webkit-text-decoration-skip: skip;
}
.acs-side-bar {
    background-color: #fafbfc;
}
h1#title-text {
    font-family: ShermanSerif, Georgia, serif !important;
    color: #404040 !important;
}
#space-tools-body a,
#content.space-administration a,
.aui-navgroup-vertical .aui-nav>li>a,
button#rte-button-cancel,
.aui-navgroup-inner a {
    color: #3b5998 !important;
}
#breadcrumbs li span a {
    color: #404040;
    text-decoration: none;
}
#breadcrumbs li span a:hover {
    text-decoration: underline !important;
}
#breadcrumbs li:last-child:not(.first) span a, #breadcrumbs li:last-child:not(.first) span {
    color: #d44500;
    text-decoration: underline;
    text-decoration-color: #6f777d;
}
h1 a:not(.conf-macro-leftover), h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: underline;
    -webkit-text-decoration-color: #6f777d;
    -moz-text-decoration-color: #6f777d;
    text-decoration-color: #6f777d;
    text-decoration-skip: auto;
    text-decoration-skip: ink;
    -webkit-text-decoration-skip: skip;
}
#tinymce.mceContentBody.wiki-content h1 a,
#tinymce.mceContentBody.wiki-content h2 a,
#tinymce.mceContentBody.wiki-content h3 a,
#tinymce.mceContentBody.wiki-content h4 a,
#tinymce.mceContentBody.wiki-content h5 a,
#tinymce.mceContentBody.wiki-content h6 a,
#toolbar #format-dropdown .format-h1 a,
#toolbar #format-dropdown .format-h2 a,
#toolbar #format-dropdown .format-h3 a,
#toolbar #format-dropdown .format-h4 a,
#toolbar #format-dropdown .format-h5 a,
#toolbar #format-dropdown .format-h6 a {
    color: #444444 !important;
}
#tinymce.mceContentBody.wiki-content h1 a:hover,
#tinymce.mceContentBody.wiki-content h2 a:hover,
#tinymce.mceContentBody.wiki-content h3 a:hover,
#tinymce.mceContentBody.wiki-content h4 a:hover,
#tinymce.mceContentBody.wiki-content h5 a:hover,
#tinymce.mceContentBody.wiki-content h6 a:hover {
    color: #d44500 !important;
}
/* Mobile Responsive Design */
body:not(.login):not(#tinymce) {
    min-width: 460px;
}
h1#title-text, #main-header-placeholder h1 a {
    word-break: break-word;
}
.wiki-content .innerCell {
    overflow-x: unset;
}
img:not(.cp-img) {
    max-width: 100% !important;
    height: auto !important;
}
.cp-image-container {
    width: 100% !important;
}
#main-content a.external-link {
    word-break: break-all;
}
table.pageInfoLayoutTable td {
    word-break: break-all;
}
@media screen and (min-width: 1600px) {
    table.attachments th.comment, table.attachments th.labels {
        width: unset !important;
    }
}
@media (max-width:935px) {
    #search-results-header #query-string {
        width: 85%;
    }
    #search-results-header {
        padding: 10px 10px 0px 22px;
    }
    #space-list .labels-heading, #space-list .space-list-item .space-labels, #space-list .space-list-item .entity-info-icon, #page-history-container thead tr th:nth-child(5), #page-history-container thead tr th:nth-child(6), #page-history-container tbody tr td:nth-child(5), #page-history-container tbody tr td:nth-child(6), #view-attachments th.filecreator-column, #view-attachments td.creator, #view-attachments th.comment, #view-attachments td.comment, #view-attachments th.labels, #view-attachments td.labels {
        display: none;
    }
    div.aui-popup.aui-dialog .module, div#create-dialog li.template, div#keyboard-shortcuts-dialog .dialog-components {
        width: 100% !important;
    }
    div.aui-popup.aui-dialog, div#create-dialog, div#keyboard-shortcuts-dialog, div#macro-browser-dialog {
        flex-flow: row wrap;
        justify-content: space-between;
        height: auto !important;
        width: 100% !important;
        margin-top: unset !important;
        margin-left: unset !important;
        top: 10% !important;
        left: unset !important;
    }
}
@media (max-width:760px) {
    .page-metadata {
        opacity: 1 !important;
    }
    div.ia-fixed-sidebar {
        width: 55px !important;
    }
    div.aui-page-panel.with-sidebar {
        margin-left: 55px !important;
    }
    .columnMacro.conf-macro.output-block {
        float: left;
        clear: both;
        width: 100% !important;
        min-width: unset !important;
        max-width: 95% !important;
    }
    .columnLayout .cell {
        clear: both;
        float: left;
    }
    .aside .innerCell {
        width: 406px;
        display: table-cell;
    }
    .cell.aside {
        width: 100% !important;
    }
    form input#quick-search-query {
        width: 15px;
        background: unset;
    }
    input#quick-search-query:focus {
        width: 150px;
    }
    .aui-header .aui-quicksearch:after {
        font-size: 20px;
        height: 24px;
        margin-top: 7px;
        width: 24px;
    }
    .aui-dd-parent.quick-nav-drop-down {
        top: 40px;
        right: -163px;
    }
    .search-results-page-panel-nav {
        width: 150px;
    }
    /* Sidebar Adjustments */
    .collapsed .space-tools-section {
        height: 40px;
    }
    .aui-sidebar-footer {
        height: 0px;
        min-height: unset;
        padding: unset;
    }
    a.expand-collapse-trigger, a.aui-sidebar-toggle, .aui-sidebar-handle, div.aui-sidebar-footer {
        display: none;
    }
    .collapsed .acs-side-bar {
        bottom: 40px;
    }
    #footer:not(#footer.login-page) {
        margin-left: 55px !important;
    }
    #footer.login-page {
        margin-left: unset !important;
    }
    #space-search {
        width: 180px;
    }
    #space-directory {
        min-width: 30px;
    width: 10%;
    }
    #space-list .space-name {
        min-width: unset;
        word-wrap: break-word;
    }
    table.pageInfoLayoutTable td {
        display: block;
        width: 100%;
        word-break: break-all;
    }
    #viewAttachmentsDiv #upload-div {
    width: 360px;
    }
    #viewAttachmentsDiv #upload-attachments div.field-group {
    padding: 4px 0 4px 85px;
    }
    #viewAttachmentsDiv #upload-attachments div.submit-button-and-more-link-container {
    margin-left: -60px;
    }
    #viewAttachmentsDiv div#extension-container {
    float: left;
    margin-left: 80px;
    }
    #viewAttachmentsDiv #extension-container .attachments-drop-zone {
        width: 300px;
        margin: 0 0px 0 -80px !important;
        float: left;
    }
    div.tabs-pane .page-item {
    float: left;
    height: unset !important;
    }
    div.tabs-pane h2 {
        font-size: 2em;
    }
    div#follow {
        min-width: unset;
    }
    .ia-splitter-handle {
        display: none !important;
    }
    /* Dashboard Adjustments */
    .confluence-dashboard .list-container-all-updates .update-items {
        width: 100%;
    }
    .confluence-dashboard .list-container-all-updates .update-item-profile, .confluence-dashboard .stream-item-layout .avatar-container {
        display: none;
    }
    .confluence-dashboard aside.aui-page-panel-sidebar.content-sidebar {
        padding: 0;
    }
    .list-container-popular-stream .stream-item-layout .stream-item-body-container, .list-container-popular-stream .compact-stream-item-layout .stream-heading-container {
        width: 100%;
    }
    .aui-page-sidebar-touch .aui-sidebar[aria-expanded="false"]~.aui-page-panel {
        padding-left: 0 !important;
    }
}
@media (max-width:600px) {
    #space-search {
        margin-top: 40px;
        width: 250px;
    }
    #space-directory {
        min-width: 30px;
    width: 10%;
    }
    #space-list .desc-heading, #space-list .labels-heading, #space-list .space-list-item .entity-logo, #space-list .space-list-item .space-desc, #space-list .space-list-item .space-labels, #space-list .space-list-item .entity-info-icon, #page-history-container thead tr th:nth-child(4), #page-history-container thead tr th:nth-child(5), #page-history-container thead tr th:nth-child(6), #page-history-container tbody tr td:nth-child(4), #page-history-container tbody tr td:nth-child(5), #page-history-container tbody tr td:nth-child(6) {
        display: none;
    }
    table#space-list {
        margin-top: 50px;
    }
    #space-list .space-name {
        min-width: unset;
        word-wrap: break-word;
    }
    #rte.editor-fullheight {
        height: 100vh;
    }
}
@media (max-height: 735px) {
    div.aui-popup.aui-dialog, div#create-dialog, div#keyboard-shortcuts-dialog, div#macro-browser-dialog {
        top: 0 !important;
        overflow: scroll;
        height: 100% !important;
    }
}
