<tr bgcolor=ffffff>
    <td>
        <a name="atlassian-macro-section">
{usage:spaces=@all}<br/><br/>
{usage:spaces=dog,cat|types=page,blogpost}<br/><br/>
{usage:period=hourly|timespan=1d|events=create,view,update}<br/>
    </td>
    <td>
        <p>
        $action.getText('usage.usage.macro.desc')
        <ul>
        <li><b>spaces:</b> - $action.getText("usage.macro.param.spaces")</li>
        <li><b>types:</b> - $action.getText("usage.macro.param.types")</li>
        <li><b>events:</b> - $action.getText("usage.usage.macro.param.events")</li>
        <li><b>columns:</b> - $action.getText("usage.macro.param.columns")</li>
        <li><b>timespan:</b> - $action.getText("usage.usage.macro.param.timespan")</li>
        <li><b>period:</b> - $action.getText("usage.macro.param.period")</li>
        </ul>
        </p>
    </td>
</tr>