{namespace Confluence.UI.Components.CQL.Templates}

/**
 * Control for displaying, adding and removing CQL fields.
 */
{template .container}
    <div class="cql-container">
        <div class="cql-error-container"></div>
        <div class="cql-fields"></div>
    </div>
{/template}