{namespace Confluence.UI.Components.CQL.SpaceField.templates}

/**
 * Render CQL Space field archived spaces option.
 */
{template .archivedSpacesOption}
<span>
    <input type="checkbox" value="true" id="search-filter-include-archived" name="includeArchivedSpaces">
    <label for="search-filter-include-archived">Search archived spaces</label>
</span>
{/template}
