.cw-status {
    opacity: 1.0;
    -webkit-transition: opacity 50ms linear;
    -moz-transition:    opacity 50ms linear;
    -o-transition:      opacity 50ms linear;
    transition:         opacity 50ms linear;
}

.cw-status.loading {
    opacity: 0.4;
}

.cw-title-description {
    margin-top: 0;
    margin-bottom: 10px;
}

.cw-manage-watchers-wrapper {
    margin-top: 10px;
    margin-bottom: -5px;
}

.cw-manage-watchers.disabled {
    pointer-events: none;
    color: #707070;
}

/* We need this hack to make tipsy tooltips disappear when you move the mouse out of the tooltip area OVER a disabled element.
   By giving the container padding there will be an area between the disabled checkbox and the container boundaries.
 */
.cw-tooltip {
    padding-top: 5px;
    margin-left: -20px;
    padding-left: 20px;
}