.aui-page-panel-content .default-list-view .item {
  margin-left: -5px;
  padding: 2px 2px 2px 5px;
  border-radius: 3px;
  text-decoration: none;
  display: block; }
  .aui-page-panel-content .default-list-view .item:hover {
    background: #F4F5F7; }
    .aui-page-panel-content .default-list-view .item:hover a:hover {
      text-decoration: none; }
    .aui-page-panel-content .default-list-view .item:hover .item-actions {
      opacity: 1; }

.aui-page-panel-content .default-list-view .item-block {
  display: block; }

.aui-page-panel-content .default-list-view .item-clickable {
  display: inline-block;
  width: calc(100% - 20px); }

.aui-page-panel-content .default-list-view .item-icon, .aui-page-panel-content .default-list-view .item-content {
  display: inline-block;
  vertical-align: middle;
  padding-top: 10px;
  padding-bottom: 10px; }

.aui-page-panel-content .default-list-view .item-content {
  max-width: calc(100% - 52px);
  padding-left: 8px;
  padding-right: 10px; }

.aui-page-panel-content .default-list-view .item-text {
  display: block;
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 6px; }
  .aui-page-panel-content .default-list-view .item-text .item-title {
    overflow: hidden;
    white-space: nowrap; }

.aui-page-panel-content .default-list-view .item-status {
  display: block;
  float: right;
  margin-left: 10px; }

.aui-page-panel-content .default-list-view .item-actions {
  display: inline-block;
  width: 15px;
  transition: opacity 0.4s ease-out;
  opacity: 0;
  float: right;
  padding-top: 13px;
  margin-right: 3px; }
  .aui-page-panel-content .default-list-view .item-actions button {
    background: none;
    cursor: pointer; }

.aui-page-panel-content .default-list-view .item.animated {
  height: 0;
  overflow: hidden;
  transition: all 0.4s ease-out; }
  .aui-page-panel-content .default-list-view .item.animated.show {
    height: auto;
    overflow: hidden; }
  .aui-page-panel-content .default-list-view .item.animated.removing {
    height: 0;
    overflow: hidden;
    opacity: 0; }

.aui-page-panel-content .default-list-view .removed .item-icon,
.aui-page-panel-content .default-list-view .removed .item-text {
  opacity: .3; }

#draft-discovery-dialog {
  margin-top: -8px !important;
  margin-left: -8px !important;
  max-width: 300px; }
