/*this is custom apps admin CSS*/

content {
    display: none;
}

/*mimic the editable span in restfultable */
.custom-apps-restfultable-readonly {
    padding-left: 4px
}

.custom-apps-restfultable-displayname {
    width: 200px;
}

.custom-apps-restfultable-groups {
    width: 200px;
}

.custom-apps-restfultable-hide {
    width: 100px;
}

/* hide JIRA formtitle header in Confluence*/
#com-atlassian-confluence .custom-apps-title {
    display: none;
}

/* thin the rows in restfultable with PDL */
.custom-apps-restfultable-hide span {
    white-space: nowrap;
}

#custom-app-admin-content .aui-iconfont-edit {
    color: #707070; /* Setting color to ADG colors */
}

.aui-page-panel-content > form.aui {
    overflow-x: auto;
}