#keyboard-shortcuts-dialog .dialog-panel-body {
    font-size: 13px;
}

#keyboard-shortcuts-dialog .module {
    margin-top: 20px;
    flex-basis: 48%;
}

#keyboard-shortcuts-dialog h3 {
    border-bottom: 1px solid #BBB;
    font-weight: normal;
}

#keyboard-shortcuts-dialog .shortcutsmenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#keyboard-shortcuts-dialog .mod-item {
    padding-left: 0;
}

#keyboard-shortcuts-dialog .item-details {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#keyboard-shortcuts-dialog .module .item-description {
    color: #666;
    flex-basis: 49%;
}

#keyboard-shortcuts-dialog .item-action {
    flex-basis: 49%;
}

#keyboard-shortcuts-dialog kbd {
    background-image: linear-gradient(white, rgb(240, 240, 240));
    border: 1px solid #ddd;
    border-radius: 0.166em;
    display: inline-block;
    font-family: Arial, FreeSans, Helvetica, sans-serif;
    padding: 0 6px;
    text-align: center;
    min-width: 12px;
    line-height: 24px;
}

#keyboard-shortcuts-dialog .key-separator {
    padding: 0 5px;
}
