#* @vtlvariable name="action" type="com.atlassian.confluence.security.actions.EditGlobalPermissionsAction" *#
<html>
<head>
    <title>$action.getActionName($action.getClass().getName())</title>
</head>

<body>
#requireResource("confluence.web.resources:global-permissions-inline-dialog")
<content tag="selectedWebItem">perms</content>
#parse ( "/template/includes/actionerrors.vm" )

<p class="stepdesc">
    $i18n.getText('global.permissions.description', $docBean.getLink("help.global.permissions.overview"),
            $i18n.getText("global.permissions.overview.link"))
</p>

<form name="editglobalperms" id="editglobalperms" class="aui" action="doeditglobalpermissions.action" method=POST>
#form_xsrfToken()
<h2>$i18n.getText('perms.licensed.users')</h2>
<h3>$i18n.getText('perms.groups')</h3>
<div class="stepdesc">
    $action.getText("global.group.perms")
</div>

<table id="gPermissionsTable" class="editpermissions aui">
    <caption class="assistive">$i18n.getText('perms.groups')</caption>
    #set ($groupRows = $action.groupPermissionRows)
    #if ($groupRows.size() > 0)
    #showGlobalPermissionsHeader()
    #foreach ($groupRow in $groupRows)
    <tr #if ($velocityCount % 2 == 0) class="even" #end>
        <td class="permissionCell">
            $htmlUtil.htmlEncode($groupRow.groupName)
            #if (!$groupRow.entityExists())
                <br/><span class="errorMessage">$action.getText("error.group.not.found")</span>
            #elseif ($groupRow.caseInvalid)
                <br/><span class="errorMessage">$action.getText('error.permission.incorrect.case', [$htmlUtil.htmlEncode($groupRow.group.name)])</span>
            #elseif ($action.isConfluenceAdministratorsGroup($groupRow.groupName))
                <a href="#" class="inlineDialog-confAdmins inline-help">$i18n.getText("inline.dialog.help")</a>
            #end
        </td>

        #foreach ($permission in $action.permissions)
        <td class="permissionCell">
            #set ($canSetGlobalPermission = $action.canSetPermissionOnGroup($permission, $groupRow.groupName))

            #if ($groupRow.isTypeAllowed($permission))
                <label for="$groupRow.buildCheckboxParameterName($permission)" class="assistive">$groupRow.buildCheckboxParameterName($permission)</label>
                <input id="$groupRow.buildCheckboxParameterName($permission)" type="checkbox" name="$groupRow.buildCheckboxParameterName($permission)" checked #if(!$canSetGlobalPermission) disabled #end>
                ## use a hidden field to submit the value of the checked (but disabled) checkbox above (since disabled checkboxes don't get submitted)
                #if(!$canSetGlobalPermission)
                    <label for="$groupRow.buildCheckboxParameterName($permission)" class="assistive">$groupRow.buildCheckboxParameterName($permission)</label>
                    <input id="$groupRow.buildCheckboxParameterName($permission)" type="hidden" name="$groupRow.buildCheckboxParameterName($permission)" value="on">
                #end
                <label for="$groupRow.buildHiddenParameterName($permission)" class="assistive">$groupRow.buildHiddenParameterName($permission)</label>
                <input id="$groupRow.buildHiddenParameterName($permission)" type="hidden" name="$groupRow.buildHiddenParameterName($permission)" value="on">
            #else
                <label for="$groupRow.buildCheckboxParameterName($permission)" class="assistive">$groupRow.buildCheckboxParameterName($permission)</label>
                <input id="$groupRow.buildCheckboxParameterName($permission)" type="checkbox" name="$groupRow.buildCheckboxParameterName($permission)" #if(!$canSetGlobalPermission) disabled #end>
            #end
            #if ($permission == 'useconfluence') $action.getText('perms.can.use') #end
        </td>
        #end
    </tr>
    #end
    #else
    <tr>
        <td colspan=5>$action.getText('globalperms.no.group.access')</td>
    </tr>
    #end
</table>
#if ($action.allowPerGroupLicensing)
<div style="margin:10px 0px">
    #bodytag ("Component" "theme='custom'" "label='Grant browse permission to'" "name='groupsToAdd'" "template='textfield-and-picker.vm'")
        #param ("formName" "editglobalperms")
        #param ("fieldClass" "autocomplete-group autocomplete-field")
        #param ("buttonOff" false)
        #param ("value" $editPermissionGroup)
        #param ("buttonName" "groupsToAddButton")
        #param ("imgTitle" "$action.getText('find.groups')")
        #param ("groupSearchActionName" "dosearchgroupsnopermissions.action")
        #param ("linkId" "grouppicker-popup-link")
    #end
</div>
#end

#set ($userRows = $action.userPermissionRows)
## even if we don't allow more users to get added here, we still want to allow existing users to be removed
#if ($action.allowPerUserLicensing || !$userRows.empty)
    <h3>$i18n.getText('perms.individuals')</h3>
    <div class="stepdesc">
        $action.getText("global.user.perms")
    </div>

    <table id="uPermissionsTable" class="editpermissions aui">
        <caption class="assistive">$action.getText("global.user.perms")</caption>
        #if (!$userRows.empty)
        #showGlobalPermissionsHeader()
            #foreach ($userRow in $userRows)
            <tr #if ($velocityCount % 2 == 0) class="even" #end>
                <td class="permissionCell">
                    #if ($userRow.entityExists())
                        $htmlUtil.htmlEncode($userRow.user.fullName)
                    #end
                    <span class="grey">($htmlUtil.htmlEncode($userRow.username))</span>
                    #if (!$userRow.entityExists())
                        <br/><span class="errorMessage">$action.getText("error.user.not.found")</span>
                    #elseif ($userRow.caseInvalid)
                         <br/><span class="errorMessage">$action.getText('error.permission.incorrect.case', [$htmlUtil.htmlEncode($userRow.user.name)])</span>
                    #end
                </td>

        #foreach ($permission in $action.permissions)
                <td class="permissionCell">
                    #set ($canSetGlobalPermission = $action.canSetPermissionOnUser($permission, $userRow.username))

                    #if ($userRow.isTypeAllowed($permission))
                        <label for="$userRow.buildCheckboxParameterName($permission)" class="assistive">$userRow.buildCheckboxParameterName($permission)</label>
                        <input id="$userRow.buildCheckboxParameterName($permission)" type="checkbox" name="$userRow.buildCheckboxParameterName($permission)" checked #if(!$canSetGlobalPermission) disabled #end>
                        ## use a hidden field to submit the value of the checked (but disabled) checkbox above (since disabled checkboxes don't get submitted)
                        #if(!$canSetGlobalPermission)
                            <label for="$userRow.buildCheckboxParameterName($permission)" class="assistive">$userRow.buildCheckboxParameterName($permission)</label>
                            <input id="$userRow.buildCheckboxParameterName($permission)" type="hidden" name="$userRow.buildCheckboxParameterName($permission)" value="on">
                        #end
                        <label for="$userRow.buildHiddenParameterName($permission)" class="assistive">$userRow.buildHiddenParameterName($permission)</label>
                        <input id="$userRow.buildHiddenParameterName($permission)" type="hidden" name="$userRow.buildHiddenParameterName($permission)" value="on">
                    #else
                        <label for="$userRow.buildCheckboxParameterName($permission)" class="assistive">$userRow.buildCheckboxParameterName($permission)</label>
                        <input id="$userRow.buildCheckboxParameterName($permission)" type="checkbox" name="$userRow.buildCheckboxParameterName($permission)" #if(!$canSetGlobalPermission) disabled #end>
                    #end
                    #if ($permission == 'useconfluence') $action.getText('perms.can.use') #end
                </td>
                #end
            </tr>
            #end
        #else
        <tr>
            <td colspan=5>$action.getText('globalperms.no.user.perms')</td>
        </tr>
        #end
    </table>

    #if ($action.allowPerUserLicensing)
    <div style="margin:10px 0px">
        #bodytag ("Component" "theme='custom'" "label='Grant browse permission to'" "name='usersToAdd'" "template='textfield-and-picker.vm'")
            #param ("formName" "editglobalperms")
            #param ("fieldClass" "autocomplete-user autocomplete-field")
            #param ("size" "40")
            #param ("windowProperties" "status=yes,resizable=yes,top=100,left=200,width=700,height=680,scrollbars=yes")
            #param ("buttonOff" false)
            #param ("value" $usersToAdd)
            #param ("buttonName" "usersToAddButton")
            #param ("imgTitle" "$action.getText('find.users')")
            #param ("searchAction" "openuserpicker.action")
            #param ("linkId" "userpicker-popup-link")
            #param ("showUnlicensedUsers" true)
            #param ("additionalDataAttrs" "data-show-unlicensed=true")
        #end
    </div>
    #end
#else
    <p>$i18n.getText('add.licenses.through.unified.usermanagement')</p>
#end

    #set ($showGlobalUnlicensedUsersUI = $action.showGlobalUnlicensedUsersUI)
    #if ($showGlobalUnlicensedUsersUI)
        <h2>$i18n.getText('perms.unlicensed.access')</h2>
        <div class="stepdesc info-text">
            $i18n.getText("global.unlicensed.users.perms")
        </div>

        <table id="unlicensedPermissionsTable" class="editpermissions aui">
            <caption class="assistive">$i18n.getText("global.unlicensed.users.perms")</caption>
            <thead>
            <tr>
                <th scope="col" width="380" class="permissionHeading">&nbsp;</th>
                <th scope="col" class="permissionTab">
                    $i18n.getText("permissions.USECONFLUENCE")
                    <a href="#" class="inlineDialog-unlicensedUseConfluence inline-help">$i18n.getText("inline.dialog.help")</a>
                </th>
                <th scope="col" class="permissionTab">
                    $i18n.getText("permissions.VIEWUSERPROFILES")
                    <a href="#" class="inlineDialog-unlicensedViewProfiles inline-help">$i18n.getText("inline.dialog.help")</a>
                </th>
            </tr>
            </thead>
            <tr>
                <td>
                    $i18n.getText('perms.unlicensed.users')
                </td>
                #set ($unlicensedAuthenticatedRow = $action.unlicensedAuthenticatedPermissionRow)
                <td class="permissionCell">
                    #if ($unlicensedAuthenticatedRow.isTypeAllowed('LIMITEDUSECONFLUENCE'))
                        <label for="$unlicensedAuthenticatedRow.buildCheckboxParameterName('limiteduseconfluence')" class="assistive">$unlicensedAuthenticatedRow.buildCheckboxParameterName('limiteduseconfluence')</label>
                        <input id="$unlicensedAuthenticatedRow.buildCheckboxParameterName('limiteduseconfluence')" type="checkbox" name="$unlicensedAuthenticatedRow.buildCheckboxParameterName('limiteduseconfluence')" checked>
                        <label for="$unlicensedAuthenticatedRow.buildHiddenParameterName('limiteduseconfluence')" class="assistive">$unlicensedAuthenticatedRow.buildHiddenParameterName('limiteduseconfluence')</label>
                        <input id="$unlicensedAuthenticatedRow.buildHiddenParameterName('limiteduseconfluence')" type="hidden" name="$unlicensedAuthenticatedRow.buildHiddenParameterName('limiteduseconfluence')" value="on">
                    #else
                        <label for="$unlicensedAuthenticatedRow.buildCheckboxParameterName('limiteduseconfluence')" class="assistive">$unlicensedAuthenticatedRow.buildCheckboxParameterName('limiteduseconfluence')</label>
                        <input id="$unlicensedAuthenticatedRow.buildCheckboxParameterName('limiteduseconfluence')" type="checkbox" name="$unlicensedAuthenticatedRow.buildCheckboxParameterName('limiteduseconfluence')">
                    #end
                    $i18n.getText('perms.can.use')
                </td>
                <td class="permissionCell">
                    #if ($unlicensedAuthenticatedRow.isTypeAllowed('VIEWUSERPROFILES'))
                        <label for="$unlicensedAuthenticatedRow.buildCheckboxParameterName('viewuserprofiles')" class="assistive">$unlicensedAuthenticatedRow.buildCheckboxParameterName('viewuserprofiles')</label>
                        <input id="$unlicensedAuthenticatedRow.buildCheckboxParameterName('viewuserprofiles')" type="checkbox" name="$unlicensedAuthenticatedRow.buildCheckboxParameterName('viewuserprofiles')" checked>
                        <label for="$unlicensedAuthenticatedRow.buildHiddenParameterName('viewuserprofiles')" class="assistive">$unlicensedAuthenticatedRow.buildHiddenParameterName('viewuserprofiles')</label>
                        <input id="$unlicensedAuthenticatedRow.buildHiddenParameterName('viewuserprofiles')" type="hidden" name="$unlicensedAuthenticatedRow.buildHiddenParameterName('viewuserprofiles')" value="on">
                    #else
                        <label for="$unlicensedAuthenticatedRow.buildCheckboxParameterName('viewuserprofiles')" class="assistive">$unlicensedAuthenticatedRow.buildCheckboxParameterName('viewuserprofiles')</label>
                        <input id="$unlicensedAuthenticatedRow.buildCheckboxParameterName('viewuserprofiles')" type="checkbox" name="$unlicensedAuthenticatedRow.buildCheckboxParameterName('viewuserprofiles')">
                    #end
                </td>
            </tr>
        </table>
    #end
    <h2>$i18n.getText('perms.anonymous')</h2>

    <div class="stepdesc info-text">
        $action.getText("global.anonymous.perms")
    </div>

    <table id="aPermissionsTable" class="editpermissions aui">
        <caption class="assistive">$action.getText("global.anonymous.perms")</caption>
        <thead>
            <tr>
                <th scope="col" width="380" class="permissionHeading">&nbsp;</th>
                <th scope="col" class="permissionTab">
                    $i18n.getText("permissions.USECONFLUENCE")
                    <a href="#" class="inlineDialog-anonymousUseConfluence inline-help">$i18n.getText("inline.dialog.help")</a>
                </th>
                <th scope="col" class="permissionTab">
                    $i18n.getText("permissions.VIEWUSERPROFILES")
                    <a href="#" class="inlineDialog-anonymousViewProfiles inline-help">$i18n.getText("inline.dialog.help")</a>
                </th>
            </tr>
        </thead>
        <tr>
            <td>
                $action.getText('perms.anonymous.user')
            </td>
            #set ($anonymousRow = $action.anonymousPermissionRow)
            <td class="permissionCell">
                #if ($anonymousRow.isTypeAllowed('useconfluence'))
                <label for="$anonymousRow.buildCheckboxParameterName('useconfluence')" class="assistive">$anonymousRow.buildCheckboxParameterName('useconfluence')</label>
                <input id="$anonymousRow.buildCheckboxParameterName('useconfluence')" type="checkbox" name="$anonymousRow.buildCheckboxParameterName('useconfluence')" checked>
                <label for="$anonymousRow.buildHiddenParameterName('useconfluence')" class="assistive">$anonymousRow.buildHiddenParameterName('useconfluence')</label>
                <input id="$anonymousRow.buildHiddenParameterName('useconfluence')" type="hidden" name="$anonymousRow.buildHiddenParameterName('useconfluence')" value="on">
                #else
                <label for="$anonymousRow.buildCheckboxParameterName('useconfluence')" class="assistive">$anonymousRow.buildCheckboxParameterName('useconfluence')</label>
                <input id="$anonymousRow.buildCheckboxParameterName('useconfluence')" type="checkbox" name="$anonymousRow.buildCheckboxParameterName('useconfluence')">
                #end
                $action.getText('perms.can.use')
            </td>
            <td class="permissionCell">
                #if ($anonymousRow.isTypeAllowed('VIEWUSERPROFILES'))
                <label for="$anonymousRow.buildCheckboxParameterName('viewuserprofiles')" class="assistive">$anonymousRow.buildCheckboxParameterName('viewuserprofiles')</label>
                <input id="$anonymousRow.buildCheckboxParameterName('viewuserprofiles')" type="checkbox" name="$anonymousRow.buildCheckboxParameterName('viewuserprofiles')" checked>
                <label for="$anonymousRow.buildHiddenParameterName('viewuserprofiles')" class="assistive">$anonymousRow.buildHiddenParameterName('viewuserprofiles')</label>
                <input id="$anonymousRow.buildHiddenParameterName('viewuserprofiles')" type="hidden" name="$anonymousRow.buildHiddenParameterName('viewuserprofiles')" value="on">
                #else
                <label for="$anonymousRow.buildCheckboxParameterName('viewuserprofiles')" class="assistive">$anonymousRow.buildCheckboxParameterName('viewuserprofiles')</label>
                <input id="$anonymousRow.buildCheckboxParameterName('viewuserprofiles')" type="checkbox" name="$anonymousRow.buildCheckboxParameterName('viewuserprofiles')">
                #end
            </td>
        </tr>
    </table>

    <div class="primary-button-container">
        <div class="buttons">
            #tag ("Submit" "name='confirm'" "value='perms.saveall'" "theme='notable'" "cssClass='aui-button'")
            #tag ("Submit" "name='cancel'" "value='cancel.name'" "theme='notable'" "cssClass='aui-button aui-button-link'")
        </div>
    </div>
</form>


#parse ( "/breadcrumbs.vm" )
</body>
</html>
