{namespace Confluence.Quick.Create}

/**
 * Discovery tooltip
 */
{template .discoveryTooltip}
<p class="title">{getText('create.content.plugin.quick.create.discovery.tooltip.title')}</p>
<p>
    {getText('create.content.plugin.quick.create.discovery.tooltip.content')|noAutoescape}
</p>
<p>
    <button class="aui-button" id="closeDisDialog">{getText('create.content.plugin.quick.create.discovery.tooltip.ok')}</button>
</p>
{/template}