.blank-slate {
  text-align: center;
  height: 100%; }

.blank-slate-image {
  margin: 30px auto;
  background-repeat: no-repeat; }

.blank-slate-image-container {
  display: block;
  margin: 100px auto 0 auto;
  text-align: center;
  float: none; }

.blank-slate-text {
  max-width: 400px;
  display: block;
  margin: 0 auto 20px;
  text-align: center; }
  .blank-slate-text p {
    margin-bottom: 15px; }

.blank-slate-title-text {
  text-transform: uppercase; }

.blank-slate-content {
  min-height: 100%; }

.all-updates .blank-slate-image {
  width: 130px;
  height: 110px;
  background-image: url("assets/images/3.0/icon-stream-empty.svg"); }

.update-item {
  margin-left: -5px;
  padding: 2px 2px 2px 5px;
  border-radius: 3px;
  text-decoration: none; }
  .update-item:hover {
    background: #F4F5F7; }
    .update-item:hover a:hover {
      text-decoration: none; }
    .update-item:hover .item-actions {
      opacity: 1; }
