/* Page tree overrides */
.ia-fixed-sidebar .plugin_pagetree {
    margin-top: -5px;
}

.ia-fixed-sidebar .plugin_pagetree .plugin_pagetree_children_loading_wrapper {
    padding: 5px 5px 5px 0;
    height: 20px;
}

.ia-fixed-sidebar .plugin_pagetree .plugin_pagetree_children_loading {
    color: #707070;
}

.ia-fixed-sidebar .plugin_pagetree_childtoggle_container > .icon {
    margin-top: -8px;
}

.ia-fixed-sidebar .plugin_pagetree_childtoggle_container > .no-children.icon {
    margin-top: -2px;
}

.ia-fixed-sidebar div.plugin_pagetree ul.plugin_pagetree_children_list li .plugin_pagetree_children_content{
    float: none;
    width: auto;
    margin-left: 15px;
}

.ia-fixed-sidebar div.plugin_pagetree ul.plugin_pagetree_children_list .plugin_pagetree_children_span {
    padding: 5px;
}

/* Not working properly due to horitzontal scroll
.ia-fixed-sidebar div.plugin_pagetree ul.plugin_pagetree_children_list .plugin_pagetree_children_span:hover {
    background-color: #e9e9e9;
}*/


.ia-fixed-sidebar div.plugin_pagetree ul.plugin_pagetree_children_list .plugin_pagetree_children_span a {
    white-space: nowrap;
    display:inline-block;
    padding-right: 10px;
}

.ia-fixed-sidebar div.plugin_pagetree ul.plugin_pagetree_children_list div.plugin_pagetree_children li {
    margin-bottom: 0px;
    overflow: visible;
}

.ia-fixed-sidebar div.plugin_pagetree ul.plugin_pagetree_children_list li,
.ia-fixed-sidebar div.plugin_pagetree ul.plugin_pagetree_children_list li div.plugin_pagetree_children_container {
    overflow: visible;
}

.ia-fixed-sidebar div.plugin_pagetree ul.plugin_pagetree_children_list > li > div.plugin_pagetree_childtoggle_container {
    height: 30px;
    width: 15px;
}

.ia-fixed-sidebar div.plugin_pagetree ul.plugin_pagetree_children_list li .plugin_pagetree_children_content .plugin_pagetree_current a {
    color: #333;
}
